<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-home" aria-hidden="true"></i><span
                                class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fa fa-rss" aria-hidden="true"></i><span
                                class="ms-1 d-none d-sm-inline">Shorts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-bell"></i><span class="ms-1 d-none d-sm-inline">Subscriptions</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Sign out</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fas fa-video"></i><span class="ms-1 d-none d-sm-inline">Library</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-clock"></i> <span class="ms-1 d-none d-sm-inline">History</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Explore</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Trending</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Music</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Gaming</span> </a>
                    </li>
                </ul>

            </div>
        </div>
       <!--Main Content goes here-->
        <div class="row grid-divider">
            <div class="col-sm-4">
              <div class="col-padding">
            <youtube-player videoId="hWcFqtQI3qE" [height]="315" [width]="560" suggestedQuality="hd720">
            </youtube-player>
        </div></div>
        <div class="col-sm-4">
            <div class="col-padding">
            <youtube-player videoId="6zv1PTuqIIc" suggestedQuality="highres" [height]="315" [width]="560"
                [startSeconds]="43" [endSeconds]="60">
            </youtube-player>
        </div></div>
  
        <div class="row grid-divider">
            <div class="col-sm-4">
              <div class="col-padding">
            <youtube-player videoId="XIOLqoPHCJ4" suggestedQuality="highres" [height]="315" [width]="560"
                [startSeconds]="43" [endSeconds]="60">
            </youtube-player>
        </div></div>
        <div class="col-sm-4">
            <div class="col-padding">
            <youtube-player videoId="SqcY0GlETPk" suggestedQuality="highres" [height]="315" [width]="560"
                [startSeconds]="43" [endSeconds]="60">
            </youtube-player>
        </div>
        </div>
    </div>
    </div>

